@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
.headingOne {
  font-size: 3rem;
  letter-spacing: -1px;
  color: #222222;
  margin: 10px 0px 20px;
}

.paragraph {
  font-size: 1.7rem;
}

.button {
  font-size: 1.7rem;
  font-weight: 600;
  color: white;
  border-radius: 10px;
  border: 1px solid #25c24f;
  background-color: #25c24f;
  padding: 1.25rem 2.25rem;
  margin-top: 25px;
  -webkit-transition: background-color 0.5s, border 0.5s;
  transition: background-color 0.5s, border 0.5s;
}

.button:hover {
  background-color: #222222;
  border: 1px solid #222222;
}

.spanGreenColor {
  color: #25c24f;
}

@media screen and (min-width: 760px) {
  .headingOne {
    font-size: 4rem;
  }
  .paragraph {
    font-size: 1.75rem;
  }
  .button {
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 1000px) {
  .headingOne {
    font-size: 5.6rem;
  }
  .paragraph {
    font-size: 1.85rem;
  }
  .button {
    font-size: 1.85rem;
  }
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: 'Quicksand', sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 20px;
}

.header__firstArticle, .header__secoundArticle {
  margin-top: 50px;
  width: 100%;
}

.header__subItemsBox {
  margin-top: 20px;
}

.header__image {
  width: 100%;
}

.header__paragraphTop {
  color: #9c9c9c;
}

.header__paragraphNumber {
  color: #25c24f;
  font-weight: bold;
}

.header__paragraphSubItem {
  margin: 20px 0px;
  font-weight: 600;
}

.header__paragraphNumber {
  font-weight: 600;
}

@media screen and (min-width: 760px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header__subItemsBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header__subItemsElement {
    width: 33.33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__paragraphSubItem {
    margin: 0px 10px 0px 0px;
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1000px) {
  .header {
    max-width: 1300px;
    margin: 0 auto;
  }
  .header__firstArticle {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding-right: 5rem;
    margin: 0px;
  }
  .header__secoundArticle {
    width: 60%;
    margin-top: 50px;
  }
  .header__paragraph {
    width: 85%;
  }
  .header__paragraphNumber {
    font-size: 1.7rem;
  }
  .header__paragraphSubItem {
    font-size: 1.7rem;
    margin-top: 10px;
  }
}
/*# sourceMappingURL=main.css.map */