@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
.headingOne {
  font-size: 3rem;
  letter-spacing: -1px;
  color: #222222;
  margin: 10px 0px 20px;
}

.headingTwo {
  font-size: 2.9rem;
  color: #222222;
}

.headingThree {
  font-size: 1.85rem;
  color: #222222;
}

.paragraph {
  font-size: 1.7rem;
}

.button {
  font-size: 1.7rem;
  font-weight: 600;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  border: 1px solid #25c24f;
  background-color: #25c24f;
  padding: 1.25rem 2.25rem;
  margin-top: 25px;
  -webkit-transition: background-color 0.5s, border 0.5s;
  transition: background-color 0.5s, border 0.5s;
}

.button:hover {
  background-color: #222222;
  border: 1px solid #222222;
}

.spanGreenColor {
  color: #25c24f;
}

.spanFontWeight {
  font-weight: 600;
}

@media screen and (min-width: 760px) {
  .headingOne {
    font-size: 4rem;
  }
  .headingTwo {
    font-size: 3rem;
  }
  .headingThree {
    font-size: 1.95rem;
  }
  .paragraph {
    font-size: 1.75rem;
  }
  .button {
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 1000px) {
  .headingOne {
    font-size: 5.6rem;
  }
  .headingTwo {
    font-size: 3.8rem;
  }
  .paragraph {
    font-size: 1.85rem;
  }
  .button {
    font-size: 1.85rem;
  }
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: 'Quicksand', sans-serif;
}

.navigation {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
}

.navigation__secoundArticle {
  display: none;
}

.navigationMobile {
  width: 80vw;
  height: 100vh;
  position: fixed;
  top: 0;
  -webkit-transform: translateX(90vw);
          transform: translateX(90vw);
  background-color: white;
  margin-left: 10vw;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  z-index: 1000;
  -webkit-box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.5);
          box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.5);
}

.navigationMobile__firstArticle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}

.navigationMobile__button {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 35px;
  height: 35px;
  background-color: #25c24f;
  border-radius: 5px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 30px;
  z-index: 1000;
}

.navigationMobile__link {
  color: #222222;
  font-weight: 600;
  text-decoration: none;
  margin: 0 15px;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  padding: 20px;
}

.navigationMobileActive {
  -webkit-transform: translateX(10vw);
          transform: translateX(10vw);
}

.navigationMobileButtonActive {
  -webkit-transform: translateX(-78vw);
          transform: translateX(-78vw);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 20px 50px;
}

.header__firstArticle, .header__secoundArticle {
  margin-top: 50px;
  width: 100%;
}

.header__subItemsBox {
  margin-top: 20px;
  margin-left: 20px;
}

.header__image {
  width: 100%;
}

.header__paragraphTop {
  color: #9c9c9c;
}

.header__paragraphNumber {
  color: #25c24f;
  font-weight: bold;
}

.header__paragraphSubItem {
  margin: 20px 0px;
  font-weight: 600;
}

.header__paragraphNumber {
  font-weight: 600;
}

.header__link {
  text-decoration: none;
  color: white;
}

.team {
  margin: 50px 20px;
}

.team__firstArticle, .team__SecoundArticle {
  width: 100%;
}

.team__image {
  width: 100%;
}

.team__partnersBox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 40px 0px 0px 0px;
}

.team__accordion {
  font-size: 1.8rem;
}

.team__contentBox {
  position: relative;
  margin: 20px 0px;
}

.team__contentBoxHeader {
  position: relative;
  padding: 10px 0px;
  cursor: pointer;
  font-weight: 600;
  -webkit-transition: 0.5 #25c24f;
  transition: 0.5 #25c24f;
}

.team__contentBoxHeader:hover {
  color: #25c24f;
}

.team__answerBox {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow-y: hidden;
}

.team__contentBox.teamActiveBox .team__answerBox {
  height: 120px;
  padding: 10px 0px 10px 30px;
}

.team__headingTwo {
  margin-top: 40px;
}

.team__span {
  padding-right: 10px;
}

.service {
  margin: 50px 20px;
}

.service__secoundArticle {
  width: 100%;
  margin: 50px 0px;
}

.service__informationBox {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  padding: 30px 20px;
  background-color: rgba(34, 34, 34, 0.9);
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.service__firstImageBox {
  position: relative;
  width: 100%;
  height: 70vh;
  border-radius: 5px;
  background-image: url("/image/panele-fotowoltaiczne.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
}

.service__firstImageBox:hover .service__informationBox {
  opacity: 1;
}

.service__secoundImageBox {
  position: relative;
  width: 100%;
  height: 70vh;
  border-radius: 5px;
  background-image: url("/image/turbiny-wiatrowe.png");
  background-position: center;
  background-size: cover;
}

.service__secoundImageBox:hover .service__informationBox {
  opacity: 1;
}

.service__unorderList {
  margin: 20px 0px 0px 0px;
  list-style-type: none;
}

.service__listElement {
  font-weight: 600;
  margin: 20px 0px;
}

.service__headingTwo {
  margin-bottom: 20px;
}

.service__spanGreenColor {
  padding-right: 10px;
}

.service__link {
  color: white;
  text-decoration: none;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.service__link:hover {
  color: #25c24f;
}

.video {
  margin: 50px 20px;
}

.video__iframe {
  width: 100%;
  height: 30vh;
  border-radius: 5px;
}

.features {
  margin: 50px 20px;
}

.features__secoundArticle {
  margin-top: 50px;
}

.features__box {
  text-align: center;
  margin: 40px 0px;
}

.features__dots {
  font-size: 50px;
  color: #25c24f;
}

.features__headingTwo {
  position: relative;
  margin-bottom: 40px;
}

.features__headingTwo::before {
  position: absolute;
  content: ". . . . .";
  top: 90%;
  font-size: 40px;
  color: #25c24f;
}

.features__headingThree {
  margin: 10px 0px;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.features__headingThree:hover {
  color: #25c24f;
}

.features__button {
  display: inline-block;
  margin-top: 20px;
}

.features__link {
  text-decoration: none;
}

.featuresSecound {
  margin: 50px 20px;
}

.featuresSecound__firstArticle {
  width: 100%;
  margin-bottom: 40px;
}

.featuresSecound__image {
  width: 100%;
}

.featuresSecound__headingTwo {
  margin-bottom: 40px;
}

.gallery {
  margin: 50px 20px;
}

.gallery__secoundArticle {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}

.gallery__bigBox {
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1 / 11;
}

.gallery__smallBox--1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / 6;
}

.gallery__smallBox--2 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 5;
  grid-column: 6 / 11;
}

.gallery__smallBox--3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / 6;
}

.gallery__smallBox--4 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 5;
  grid-column: 6 / 11;
}

.gallery__image {
  width: 100%;
  border-radius: 10px;
}

.gallery__headingTwo {
  margin-bottom: 40px;
}

.testimonials {
  margin: 50px 20px;
}

.testimonials__wrapper {
  overflow: hidden;
}

.testimonials__secoundArticle {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.testimonials__box {
  width: 85%;
  min-width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  text-align: center;
  border-radius: 5px;
  padding: 50px 20px 20px 20px;
  margin-right: 2%;
  margin-left: 2%;
  -webkit-box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.1);
          box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.1);
}

.testimonials__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0rem 20px 50px;
  overflow-x: auto;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: mandatory;
      scroll-snap-type: mandatory;
  -ms-scroll-snap-points-x: repeat(300px);
      scroll-snap-points-x: repeat(300px);
  -webkit-overflow-scrolling: touch;
}

.testimonials__iconBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  color: #25c24f;
}

.testimonials__textBox {
  width: 90%;
  color: #9c9c9c;
}

.testimonials__headingTwo {
  margin-bottom: 40px;
}

.testimonials__paragraphIcon {
  font-size: 5rem;
}

.testimonials__paragraphName {
  font-weight: 600;
  margin: 10px 0px 5px;
  color: black;
}

.testimonials__paragraph {
  font-size: 1.4rem;
}

.blog {
  margin: 50px 20px;
}

.blog__firstSection {
  width: 100%;
}

.blog__largeImageBox {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("/image/kobieta-jezioro-gory.png");
  background-position: center;
  background-size: cover;
}

.blog__largeTextBox {
  padding: 0px 30px;
  position: absolute;
}

.blog__headingTwo {
  margin: 40px 0px;
}

.blog__headingTwo--white {
  color: white;
}

.blog__headingThree {
  margin: 20px 0px;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.blog__headingThree:hover {
  color: #25c24f;
}

.blog__link {
  text-decoration: none;
  color: white;
}

.blog__paragraph {
  color: white;
  margin: 20px 0px;
}

.blog__container {
  width: 100%;
}

.blog__controls {
  margin-top: 20px;
}

.blog__carousel {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: hidden;
  position: relative;
}

.blog__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 500%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.blog__slide {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog__image {
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.blog__nextButton, .blog__prevButton {
  background: none;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  -webkit-transition: border 0.3s, color 0.3s;
  transition: border 0.3s, color 0.3s;
}

.blog__nextButton:hover, .blog__prevButton:hover {
  border: 1px solid #25c24f;
  color: #25c24f;
}

.blog__prevButton {
  margin-right: 20px;
}

.blog__icon {
  font-size: 30px;
}

.blog__link {
  text-decoration: none;
}

.contact {
  background-image: url("/image/contact-bg.png");
  background-position: center;
  background-size: cover;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__input {
  position: relative;
  border-radius: 20px;
  border: 1px solid #9c9c9c;
  padding: 10px 20px;
  -webkit-box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.1);
          box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.1);
  margin: 40px 0px 20px;
  width: 70vw;
}

.contact__button {
  position: relative;
  border-radius: 20px;
  border: 1px solid #25c24f;
  padding: 10px 20px;
  -webkit-box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.1);
          box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.1);
  width: 70vw;
  background-color: #25c24f;
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
  -webkit-transition: background-color 0.5s, border 0.5s;
  transition: background-color 0.5s, border 0.5s;
}

.contact__button:hover {
  background-color: #222222;
  border: 1px solid #222222;
}

.contact__headingTwo {
  margin: 0px 20px;
  text-align: center;
}

.footer {
  padding: 50px 20px;
  background-color: #3D3D3D;
  color: white;
}

.footer__secoundArticle {
  margin-top: 50px;
  text-align: center;
}

.footer__box {
  margin: 20px 0px;
}

.footer__paragraphMain {
  margin: 20px 0px;
  font-weight: bold;
}

.footer__paragraph {
  margin: 10px 10px;
  font-size: 1.6rem;
  font-weight: 300;
}

.footer__link {
  text-decoration: none;
  color: white;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.footer__link:hover {
  color: #25c24f;
}

@media screen and (min-width: 760px) {
  .navigation {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navigation__secoundArticle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navigation__link {
    color: #222222;
    font-weight: 600;
    text-decoration: none;
    margin: 0 15px;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
  }
  .navigation__link:hover {
    color: #25c24f;
  }
  .navigationMobile {
    display: none;
  }
  .navigationMobile__button {
    display: none;
  }
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header__subItemsBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header__subItemsElement {
    width: 33.33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__paragraphSubItem {
    margin: 0px 10px 0px 0px;
    font-size: 1.4rem;
  }
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .team__firstArticle {
    width: 50%;
    padding-right: 30px;
  }
  .team__secoundArticle {
    width: 50%;
  }
  .team__partnersBox {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .team__imageLogoBrand {
    margin: 0px 50px 0px 0px;
  }
  .team__contentBox.teamActiveBox .team__answerBox {
    height: 105px;
  }
  .team__headingTwo {
    margin-top: 0px;
  }
  .service__secoundArticle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .service__firstImageBox, .service__secoundImageBox {
    width: 48%;
    height: 40vh;
  }
  .features__secoundArticle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 20px;
  }
  .features__box {
    width: 50%;
    text-align: left;
    padding-right: 40px;
  }
  .features__headingTwo::before {
    top: 77.5%;
  }
  .featuresSecound__firstArticle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .featuresSecound__image {
    width: 50%;
  }
  .featuresSecound__headingTwo {
    margin-bottom: 20px;
  }
  .gallery__secoundArticle {
    -ms-grid-columns: (1fr)[11];
        grid-template-columns: repeat(11, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 20px;
  }
  .gallery__bigBox {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / 6;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }
  .gallery__smallBox--1 {
    -ms-grid-column: 6;
    -ms-grid-column-span: 3;
    grid-column: 6 / 9;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .gallery__smallBox--2 {
    -ms-grid-column: 9;
    -ms-grid-column-span: 3;
    grid-column: 9 / 12;
  }
  .gallery__smallBox--3 {
    -ms-grid-column: 6;
    -ms-grid-column-span: 3;
    grid-column: 6 / 9;
  }
  .gallery__smallBox--4 {
    -ms-grid-column: 9;
    -ms-grid-column-span: 3;
    grid-column: 9 / 12;
  }
  .testimonials {
    margin: 50px 0px;
  }
  .testimonials__box {
    width: 48.75%;
    min-width: 48.75%;
    margin-right: 2.5%;
    margin-left: 0%;
  }
  .testimonials__headingTwo {
    margin: 40px 20px;
  }
  .blog {
    margin: 50px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .blog__firstSection {
    width: 30%;
  }
  .blog__thirdSection {
    width: 70%;
    padding-left: 20px;
  }
  .blog__largeImageBox {
    height: 100%;
  }
  .blog__headingTwo {
    padding-left: 20px;
  }
  .blog__controls {
    padding-left: 20px;
  }
  .blog__slide {
    -ms-flex-preferred-size: 9%;
        flex-basis: 9%;
    margin-left: 1%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact {
    height: 40vh;
  }
  .contact__button {
    width: 40vw;
  }
  .footer {
    padding: 50px 20px 5px;
    background-color: #3D3D3D;
    color: white;
  }
  .footer__firstArticle {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__secoundArticle {
    margin-top: 50px;
    text-align: center;
  }
  .footer__box {
    margin: 0px 10px;
    width: 25%;
  }
  .footer__paragraphMain {
    margin: 0px 0px;
    font-weight: bold;
  }
  .footer__paragraph {
    margin: 10px 00px;
    font-size: 1.6rem;
    font-weight: 300;
  }
}

@media screen and (min-width: 1000px) {
  .navigation {
    width: 90vw;
    max-width: 1300px;
    margin: 0px auto;
    padding: 0px 0px;
  }
  .header {
    width: 90vw;
    max-width: 1300px;
    margin: 0px auto;
  }
  .header__firstArticle {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding-right: 5rem;
    margin: 0px;
  }
  .header__secoundArticle {
    width: 60%;
    margin-top: 50px;
  }
  .header__paragraph {
    width: 85%;
  }
  .header__paragraphNumber {
    font-size: 1.7rem;
  }
  .header__paragraphSubItem {
    font-size: 1.7rem;
    margin-top: 10px;
  }
  .team {
    width: 90vw;
    max-width: 1300px;
    margin: 100px auto;
  }
  .team__firstArticle {
    position: relative;
    width: 50%;
    padding-right: 0px;
  }
  .team__secoundArticle {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 50px;
  }
  .team__firstArticle::after {
    content: "";
    position: absolute;
    top: -5%;
    left: -5%;
    width: 80%;
    height: 90%;
    background-color: rgba(37, 194, 79, 0.1);
    z-index: -1;
  }
  .team__contentBox.teamActiveBox .team__answerBox {
    height: 78px;
  }
  .service {
    width: 90vw;
    max-width: 1300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 100px auto;
  }
  .service__firstArticle {
    width: 40%;
    height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 5rem;
  }
  .service__secoundArticle {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px;
  }
  .service__firstImageBox, .service__secoundImageBox {
    height: 50vh;
  }
  .video {
    width: 90vw;
    max-width: 1300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 100px auto;
  }
  .video__iframe {
    height: 50vh;
  }
  .features {
    width: 90vw;
    max-width: 1300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 100px auto;
  }
  .features__firstArticle {
    width: 40%;
    padding-right: 50px;
  }
  .features__secoundArticle {
    width: 60%;
    margin-top: 0px;
    padding-left: 100px;
  }
  .features__box {
    margin: 0px 0px 20px;
    width: 50%;
    height: 50%;
  }
  .features__headingTwo::before {
    position: absolute;
    content: ". . . . .";
    top: 90%;
    font-size: 40px;
    color: #25c24f;
  }
  .featuresSecound {
    width: 90vw;
    max-width: 1300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 100px auto;
  }
  .featuresSecound__firstArticle {
    width: 50%;
    margin: 0;
  }
  .featuresSecound__secoundArticle {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .featuresSecound__image {
    width: 70%;
  }
  .gallery {
    width: 90vw;
    max-width: 1300px;
    margin: 0px auto;
  }
  .testimonials {
    width: 90vw;
    max-width: 1300px;
    margin: 100px auto;
  }
  .testimonials__secoundArticle {
    width: 100%;
  }
  .testimonials__box {
    width: 30.33%;
    min-width: 30.33%;
    margin-right: 1.5%;
    margin-left: 1.5%;
    padding: 50px 20px;
  }
  .testimonials__headingTwo {
    margin: 40px 0px;
  }
  .blog {
    width: 90vw;
    max-width: 1300px;
    margin: 0px auto 50px;
  }
  .blog__headingTwo {
    padding-left: 5%;
  }
  .blog__controls {
    padding-left: 5%;
  }
  .contact__input {
    padding: 20px 30px;
    width: 30vw;
  }
  .contact__button {
    padding: 20px 30px;
    width: 30vw;
  }
  .footer__firstArticle {
    max-width: 1300px;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=main.css.map */