@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
.headingOne {
  color: #222222;
  font-size: 3rem;
  letter-spacing: -1px;
  margin: 10px 0px 20px;
}

.headingTwo {
  color: #222222;
  font-size: 2.9rem;
}

.headingThree {
  color: #222222;
  font-size: 1.85rem;
}

.paragraph {
  font-size: 1.7rem;
}

.button {
  font-size: 1.7rem;
  font-weight: 600;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  border: 1px solid #25c24f;
  background-color: #25c24f;
  padding: 1.25rem 2.25rem;
  margin-top: 25px;
  cursor: pointer;
  -webkit-transition: background-color 0.5s, border 0.5s;
  transition: background-color 0.5s, border 0.5s;
}

.button:hover {
  border: 1px solid #222222;
  background-color: #222222;
}

.spanGreenColor {
  color: #25c24f;
}

.spanFontWeight {
  font-weight: 600;
}

@media screen and (min-width: 760px) {
  .headingOne {
    font-size: 4rem;
  }
  .headingTwo {
    font-size: 3rem;
  }
  .headingThree {
    font-size: 1.95rem;
  }
  .paragraph {
    font-size: 1.75rem;
  }
  .button {
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 1000px) {
  .headingOne {
    font-size: 5.6rem;
  }
  .headingTwo {
    font-size: 3.8rem;
  }
  .paragraph {
    font-size: 1.85rem;
  }
  .button {
    font-size: 1.85rem;
  }
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: 'Quicksand', sans-serif;
}

.navigation {
  max-width: 1300px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 0px 20px;
}

.navigation__secoundArticle {
  display: none;
}

.navigationMobile {
  position: fixed;
  top: 0;
  width: 80vw;
  height: 100vh;
  -webkit-transform: translateX(90vw);
          transform: translateX(90vw);
  background-color: white;
  -webkit-box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.5);
          box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.5);
  margin-left: 10vw;
  z-index: 1000;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.navigationMobile__firstArticle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}

.navigationMobile__button {
  position: fixed;
  width: 35px;
  height: 35px;
  top: 20px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  color: white;
  border-radius: 5px;
  background-color: #25c24f;
  z-index: 1000;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.navigationMobile__link {
  font-weight: 600;
  text-decoration: none;
  color: #222222;
  padding: 20px;
  margin: 0 15px;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.navigationMobileActive {
  -webkit-transform: translateX(10vw);
          transform: translateX(10vw);
}

.navigationMobileButtonActive {
  -webkit-transform: translateX(-78vw);
          transform: translateX(-78vw);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px 20px;
}

.header__image {
  width: 100%;
  border-radius: 5px;
}

.header__progressBarSection {
  margin: 20px 0px;
}

.header__progressBarText {
  width: 97%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__progressBar {
  position: relative;
  width: 100%;
  height: 6px;
  border-radius: 50px;
  background-color: rgba(156, 156, 156, 0.4);
  margin-top: 10px;
}

.header__progressBar--first::after {
  position: absolute;
  content: "";
  top: -10px;
  height: 6px;
  width: 95%;
  border-radius: 50px;
  background-color: #25c24f;
  margin-top: 10px;
  z-index: 1;
}

.header__progressBar--secound::after {
  position: absolute;
  content: "";
  top: -10px;
  height: 6px;
  width: 90%;
  border-radius: 50px;
  background-color: #25c24f;
  margin-top: 10px;
  z-index: 1;
}

.header__progressBar--third::after {
  content: "";
  position: absolute;
  top: -10px;
  height: 6px;
  width: 100%;
  background-color: #25c24f;
  border-radius: 50px;
  margin-top: 10px;
  z-index: 1;
}

.header__headingTwo {
  margin: 20px 0px;
}

.statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(37, 194, 79, 0.1);
  padding: 50px 0px;
}

.statistic__box--one {
  position: relative;
  margin: 20px;
}

.statistic__box--one::after {
  position: absolute;
  content: "01";
  top: -50%;
  left: -5%;
  font-size: 10rem;
  font-weight: bold;
  color: rgba(156, 156, 156, 0.2);
}

.statistic__box--two {
  position: relative;
  margin: 40px 20px;
}

.statistic__box--two::after {
  position: absolute;
  content: "02";
  top: -50%;
  left: -5%;
  font-size: 10rem;
  font-weight: bold;
  color: rgba(156, 156, 156, 0.2);
}

.statistic__box--three {
  position: relative;
  margin: 20px;
}

.statistic__box--three::after {
  position: absolute;
  content: "03";
  top: -50%;
  left: -5%;
  font-size: 10rem;
  font-weight: bold;
  color: rgba(156, 156, 156, 0.2);
}

.team {
  margin: 50px 20px;
}

.team__firstArticle, .team__SecoundArticle {
  width: 100%;
}

.team__image {
  width: 100%;
}

.team__accordion {
  font-size: 1.8rem;
}

.team__contentBox {
  position: relative;
  margin: 20px 0px;
}

.team__contentBoxHeader {
  position: relative;
  font-weight: 600;
  padding: 10px 0px;
  cursor: pointer;
  -webkit-transition: 0.5 #25c24f;
  transition: 0.5 #25c24f;
}

.team__contentBoxHeader:hover {
  color: #25c24f;
}

.team__answerBox {
  position: relative;
  height: 0;
  overflow: hidden;
  overflow-y: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.team__contentBox.teamActiveBox .team__answerBox {
  height: 120px;
  padding: 10px 0px 10px 30px;
}

.team__headingTwo {
  margin-top: 40px;
}

.team__span {
  padding-right: 10px;
}

.contact {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../image/contact-bg.png");
  background-position: center;
  background-size: cover;
}

.contact__input {
  position: relative;
  width: 70vw;
  font-size: 1.5rem;
  border: 1px solid #9c9c9c;
  border-radius: 20px;
  -webkit-box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.1);
          box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.1);
  margin: 40px 0px 20px;
  padding: 10px 20px;
  outline: none;
}

.contact__input::-webkit-input-placeholder, .contact__input::-webkit-input-placeholder {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

.contact__input::-webkit-input-placeholder, .contact__input::placeholder {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

.contact__button {
  position: relative;
  width: 70vw;
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  border: 1px solid #25c24f;
  border-radius: 20px;
  -webkit-box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.1);
          box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.1);
  background-color: #25c24f;
  cursor: pointer;
  padding: 10px 20px;
  -webkit-transition: background-color 0.5s, border 0.5s;
  transition: background-color 0.5s, border 0.5s;
}

.contact__button:hover {
  border: 1px solid #222222;
  background-color: #222222;
}

.contact__headingTwo {
  text-align: center;
  margin: 0px 20px;
}

.field-error {
  border: 1px solid red !important;
}

.field-accept {
  border: 1px solid #25c24f !important;
}

.footer {
  color: white;
  background-color: #3D3D3D;
  padding: 50px 20px;
}

.footer__secoundArticle {
  text-align: center;
  margin-top: 50px;
}

.footer__box {
  margin: 20px 0px;
}

.footer__paragraphMain {
  font-weight: bold;
  margin: 20px 0px;
}

.footer__paragraph {
  font-size: 1.6rem;
  font-weight: 300;
  margin: 10px 10px;
}

.footer__link {
  color: white;
  text-decoration: none;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.footer__link:hover {
  color: #25c24f;
}

@media screen and (min-width: 760px) {
  .navigation {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navigation__secoundArticle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navigation__link {
    font-weight: 600;
    text-decoration: none;
    color: #222222;
    margin: 0 15px;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
  }
  .navigation__link:hover {
    color: #25c24f;
  }
  .navigationMobile {
    display: none;
  }
  .navigationMobile__button {
    display: none;
  }
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .header__firstArticle {
    width: 50%;
    padding-right: 2.5rem;
  }
  .header__secoundArticle {
    width: 50%;
  }
  .header__headingTwo {
    margin: 0px 0px 20px;
  }
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .team__firstArticle {
    width: 50%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .team__secoundArticle {
    width: 50%;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .team__partnersBox {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .team__imageLogoBrand {
    margin: 0px 50px 0px 0px;
  }
  .team__contentBox.teamActiveBox .team__answerBox {
    height: 105px;
  }
  .team__headingTwo {
    margin-top: 0px;
  }
  .contact {
    height: 40vh;
  }
  .contact__button {
    width: 40vw;
  }
  .footer {
    color: white;
    background-color: #3D3D3D;
    padding: 50px 20px 5px;
  }
  .footer__firstArticle {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__secoundArticle {
    text-align: center;
    margin-top: 50px;
  }
  .footer__box {
    width: 25%;
    margin: 0px 10px;
  }
  .footer__paragraphMain {
    font-weight: bold;
    margin: 0px 0px;
  }
  .footer__paragraph {
    font-size: 1.6rem;
    font-weight: 300;
    margin: 10px 00px;
  }
}

@media screen and (min-width: 1000px) {
  .header {
    width: 90vw;
    max-width: 1300px;
    margin: 100px auto;
  }
  .header__firstArticle {
    width: 55%;
    padding-right: 2.5rem;
  }
  .header__secoundArticle {
    width: 45%;
    padding-left: 2.5rem;
  }
  .header__progressBarSection--first {
    margin-top: 40px;
  }
  .statistic {
    margin: 100px 0px;
    padding: 100px 0px;
  }
  .statistic__firstArticle {
    max-width: 1300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    margin: 0 auto;
  }
  .statistic__box {
    width: 30%;
  }
  .statistic__box--one {
    margin: 0;
  }
  .statistic__box--two {
    margin: 0;
  }
  .statistic__box--three {
    margin: 0;
  }
  .team {
    width: 90vw;
    max-width: 1300px;
    margin: 100px auto;
  }
  .team__firstArticle {
    position: relative;
    width: 50%;
    padding-right: 0px;
  }
  .team__secoundArticle {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 50px;
  }
  .team__firstArticle::after {
    content: "";
    position: absolute;
    top: -5%;
    left: -5%;
    width: 80%;
    height: 90%;
    background-color: rgba(37, 194, 79, 0.1);
    z-index: -1;
  }
  .team__contentBox.teamActiveBox .team__answerBox {
    height: 78px;
  }
  .contact__input {
    width: 30vw;
    padding: 20px 30px;
  }
  .contact__button {
    width: 30vw;
    padding: 20px 30px;
  }
  .footer__firstArticle {
    max-width: 1300px;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=service.css.map */