@media screen and ( min-width: 760px )
    .navigation
        justify-content: space-between
        
        &__secoundArticle
            display: flex

        &__link
            color: $black
            font-weight: 600
            text-decoration: none
            margin: 0 15px
            transition: color 0.5s

            &:hover
                color: $green

    .navigationMobile
        display: none

        &__button
            display: none

    .formContact
        flex-direction: row
        
        &__firstArticle
            width: 50%
            display: flex
            flex-direction: column
            justify-content: center
            
        &__secoundArticle
            width: 50%

    .contact
        height: 40vh
    
        &__button
            width: 40vw

    .footer
        padding: 50px 20px 5px
        background-color: #3D3D3D
        color: $white
        
        &__firstArticle
            width: 100%
            display: flex

        &__secoundArticle
            margin-top: 50px
            text-align: center

        &__box
            margin: 0px 10px
            width: 25%

        &__paragraphMain
            margin: 0px 0px
            font-weight: bold

        &__paragraph
            margin: 10px 00px
            font-size: 1.6rem
            font-weight: 300
        