@media screen and ( min-width: 760px )
    .header
        flex-direction: row

        &__subItemsBox
            display: flex
            flex-direction: row
            justify-content: space-around

        &__subItemsElement
            display: flex
            flex-direction: column
            width: 33%
        
        &__paragraphSubItem
            margin-right: 2rem
            font-size: 1.4rem


    