@media screen and ( min-width: 760px )
    .header
        flex-direction: row

        &__subItemsBox
            display: flex
            flex-direction: row
            justify-content: space-around

        &__subItemsElement
            width: 33.33%
            display: flex
            flex-direction: column
        
        &__paragraphSubItem
            margin: 0px 10px 0px 0px
            font-size: 1.4rem

    .team
        display: flex
        flex-direction: row

        &__firstArticle
            width: 50%
            padding-right: 30px

        &__secoundArticle
            width: 50%

        &__partnersBox
            justify-content: flex-start

        &__imageLogoBrand
            margin: 0px 50px 0px 0px

        &__headingTwo
            margin-top: 0px

    .service

        &__secoundArticle
            display: flex
            justify-content: space-between

        &__firstImageBox,
        &__secoundImageBox
            width: 48%
            height: 40vh
    