$gray: rgb(156, 156, 156)
$green: rgb(37, 194, 79)
$white: rgb(255, 255, 255)

.headingOne
    font-size: 3rem
    letter-spacing: -1px
    margin: 10px 0px 20px
    
.paragraph
    font-size: 1.7rem

.button
    font-size: 1.7rem
    font-weight: 600
    color: $white
    border-radius: 10px
    border: 1px solid $green
    background-color: $green
    padding: 1.25rem 2.25rem
    margin-top: 25px

.spanGreenColor
    color: $green