@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@import "./_topography"

*,
::after,
::before
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 62.5%
    scroll-behavior: smooth
    font-family: 'Quicksand', sans-serif

.header
    display: flex
    flex-direction: column
    margin: 50px 20px

    &__firstArticle,
    &__secoundArticle
        margin-top: 50px
        width: 100%

    &__subItemsBox
        margin-top: 20px

    &__image
        width: 100%

    &__paragraphTop
        color: $gray

    &__paragraphNumber
        color: $green
        font-weight: bold

    &__paragraphSubItem
        margin: 20px 0px
        font-weight: 600

    &__paragraphNumber
        font-weight: 600

.team
    margin: 50px 20px

    &__firstArticle,
    &__SecoundArticle
        width: 100%

    &__image
        width: 100%

    &__partnersBox
        width: 100%
        display: flex
        flex-direction: row
        justify-content: space-around
        margin: 40px 0px 0px 0px

    &__unorderList
        margin: 20px 0px 0px 0px
        list-style-type: none

    &__listElement
        font-weight: 600
        margin: 20px 0px

    &__headingTwo
        margin-top: 40px

.service
    margin: 50px 20px

    &__secoundArticle
        width: 100%
        margin: 50px 0px

    &__informationBox
        position: absolute
        bottom: 0
        width: 100%
        color: $white
        padding: 30px 20px
        background-color: rgba(34, 34, 34, 0.9)
        opacity: 0
        transition: opacity 0.5s

    &__firstImageBox
        position: relative
        width: 100%
        height: 70vh
        border-radius: 5px
        background-image: url("/image/panele-fotowoltaiczne.jpg")
        background-position: center
        background-size: cover
        margin-bottom: 20px

        &:hover .service__informationBox
            opacity: 1

    &__secoundImageBox
        position: relative
        width: 100%
        height: 70vh
        border-radius: 5px
        background-image: url("/image/turbiny-wiatrowe.png")
        background-position: center
        background-size: cover

        &:hover .service__informationBox
            opacity: 1
    
    &__unorderList
        margin: 20px 0px 0px 0px
        list-style-type: none

    &__listElement
        font-weight: 600
        margin: 20px 0px

    &__headingTwo
        margin-bottom: 20px

.video
    margin: 50px 20px

    &__iframe
        width: 100%
        height: 30vh
        border-radius: 5px

.features
    margin: 50px 20px

    &__secoundArticle
        margin-top: 50px

    &__box
        text-align: center
        margin: 40px 0px

    &__dots
        font-size: 50px
        color: $green

    &__headingTwo
        position: relative
        margin-bottom: 40px

    &__headingTwo::before
        position: absolute
        content: ". . . . ."
        top: 90%
        font-size: 40px
        color: $green

    &__headingThree
        margin: 10px 0px

.featuresSecound
    margin: 50px 20px

    &__firstArticle
        width: 100%
        margin-bottom: 40px

    &__image
        width: 100%

    &__headingTwo
        margin-bottom: 40px

.gallery
    margin: 50px 20px

    &__secoundArticle
        display: grid
        grid-template-columns: repeat(10, 1fr)
        grid-row-gap: 20px
        grid-column-gap: 20px
        
    &__bigBox
        grid-column: 1 / 11
        
    &__smallBox--1
        grid-column: 1 / 6

    &__smallBox--2
        grid-column: 6 / 11

    &__smallBox--3
        grid-column: 1 / 6

    &__smallBox--4
        grid-column: 6 / 11

    &__image
        width: 100%
        border-radius: 10px

    &__headingTwo
        margin-bottom: 40px

.testimonials
    margin: 50px 20px

    &__wrapper
        overflow: hidden

    &__secoundArticle
        width: 100vw
        display: flex
        flex-wrap: nowrap

    &__box
        width: 85%
        min-width: 85%
        display: flex
        flex-direction: column
        justify-content: center
        align-content: center
        align-items: center
        flex-shrink: 0
        text-align: center
        border-radius: 5px
        padding: 50px 20px 20px 20px
        margin-right: 2%
        margin-left: 2%
        box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.1)

    &__slider
        display: flex
        padding: 0rem 20px 50px
        overflow-x: auto
        scroll-behavior: smooth
        scroll-snap-type: mandatory
        scroll-snap-points-x: repeat(300px)
        -webkit-overflow-scrolling: touch

    &__iconBox
        display: flex
        width: 10%
        color: $green

    &__textBox
        width: 90%
        color: $gray

    &__headingTwo
        margin-bottom: 40px

    &__paragraphIcon
        font-size: 5rem

    &__paragraphName
        font-weight: 600
        margin: 10px 0px 5px
        color: black

    &__paragraph
        font-size: 1.4rem


@import "./_medium"
@import "./_large"

